/*  @RULES  */

/*  GLOBAL RULES  */

@media print {
    *:root * {
        color: black;
        background: none;
    }
}

*::selection {
    background: #646464;
}

*::-moz-selection {
    background: #646464;
}

*:root {
    color: #a3a3a3;
}

*:root::selection {
    background: #646464;
}

*[data-type] {
    color: #68A090;
}
*[data-type^="normal"] {
    color: #A8A878;
}
*[data-type^="fire"] {
    color: #F08030;
}
*[data-type^="fighting"] {
    color: #C03028;
}
*[data-type^="water"] {
    color: #6890F0;
}
*[data-type^="flying"] {
    color: #A890F0;
}
*[data-type^="grass"] {
    color: #78C850;
}
*[data-type^="poison"] {
    color: #A040A0;
}
*[data-type^="electric"] {
    color: #F8D030;
}
*[data-type^="ground"] {
    color: #E0C068;
}
*[data-type^="psychic"] {
    color: #F85888;
}
*[data-type^="rock"] {
    color: #B8A038;
}
*[data-type^="ice"] {
    color: #98D8D8;
}
*[data-type^="bug"] {
    color: #A8B820;
}
*[data-type^="dragon"] {
    color: #7038F8;
}
*[data-type^="ghost"] {
    color: #705898;
}
*[data-type^="dark"] {
    color: #705848;
}
*[data-type^="steel"] {
    color: #B8B8D0;
}
*[data-type^="fairy"] {
    color: #EE99AC;
}

*[data-eggs] {
    color: #0080C0;
}
*[data-eggs^="monster"] {
    color: #D25064;
}
*[data-eggs^="water 1"] {
    color: #97B5FD;
}
*[data-eggs^="bug"] {
    color: #AAC22A;
}
*[data-eggs^="flying"] {
    color: #B29AFA;
}
*[data-eggs^="field"] {
    color: #E0C068;
}
*[data-eggs^="fairy"] {
    color: #FFC8F0;
}
*[data-eggs^="grass"] {
    color: #82D25A;
}
*[data-eggs^="undiscovered"] {
    color: #333333;
}
*[data-eggs^="human-like"] {
    color: #D29682;
}
*[data-eggs^="water 3"] {
    color: #5876BE;
}
*[data-eggs^="mineral"] {
    color: #7A6252;
}
*[data-eggs^="amorphous"] {
    color: #8A8A8A;
}
*[data-eggs^="water 2"] {
    color: #729AFA;
}
*[data-eggs^="ditto"] {
    color: #A664BF;
}
*[data-eggs^="dragon"] {
    color: #7A42FF;
}

*:root *[data-type] *, *:root *[data-eggs] * {
    color: inherit;
}

/*  PAGE LAYOUT  */

html, body {
    background: #1c1c1c;
}

/*  SECTIONING  */

aside, footer {
    color: #828282;
}

/*  TABLES  */

caption, th, thead {
    color: #cccccc;
}

td[data-type], th[data-type] {
    color: #f5f5f5;
    background-color: #68A090;
}
td[data-type^="normal"], th[data-type^="normal"] {
    background-color: #A8A878;
}
td[data-type^="fire"], th[data-type^="fire"] {
    background-color: #F08030;
}
td[data-type^="fighting"], th[data-type^="fighting"] {
    background-color: #C03028;
}
td[data-type^="water"], th[data-type^="water"] {
    background-color: #6890F0;
}
td[data-type^="flying"], th[data-type^="flying"] {
    background-color: #A890F0;
}
td[data-type^="grass"], th[data-type^="grass"] {
    background-color: #78C850;
}
td[data-type^="poison"], th[data-type^="poison"] {
    background-color: #A040A0;
}
td[data-type^="electric"], th[data-type^="electric"] {
    background-color: #F8D030;
}
td[data-type^="ground"], th[data-type^="ground"] {
    background-color: #E0C068;
}
td[data-type^="psychic"], th[data-type^="psychic"] {
    background-color: #F85888;
}
td[data-type^="rock"], th[data-type^="rock"] {
    background-color: #B8A038;
}
td[data-type^="ice"], th[data-type^="ice"] {
    background-color: #98D8D8;
}
td[data-type^="bug"], th[data-type^="bug"] {
    background-color: #A8B820;
}
td[data-type^="dragon"], th[data-type^="dragon"] {
    background-color: #7038F8;
}
td[data-type^="ghost"], th[data-type^="ghost"] {
    background-color: #705898;
}
td[data-type^="dark"], th[data-type^="dark"] {
    background-color: #705848;
}
td[data-type^="steel"], th[data-type^="steel"] {
    background-color: #B8B8D0;
}
td[data-type^="fairy"], th[data-type^="fairy"] {
    background-color: #EE99AC;
}
td[data-type$="-normal"], th[data-type$="-normal"] {
    background-image: linear-gradient(to bottom right, transparent, #A8A878);
}
td[data-type$="-fire"], th[data-type$="-fire"] {
    background-image: linear-gradient(to bottom right, transparent, #F08030);
}
td[data-type$="-fighting"], th[data-type$="-fighting"] {
    background-image: linear-gradient(to bottom right, transparent, #C03028);
}
td[data-type$="-water"], th[data-type$="-water"] {
    background-image: linear-gradient(to bottom right, transparent, #6890F0);
}
td[data-type$="-flying"], th[data-type$="-flying"] {
    background-image: linear-gradient(to bottom right, transparent, #A890F0);
}
td[data-type$="-grass"], th[data-type$="-grass"] {
    background-image: linear-gradient(to bottom right, transparent, #78C850);
}
td[data-type$="-poison"], th[data-type$="-poison"] {
    background-image: linear-gradient(to bottom right, transparent, #A040A0);
}
td[data-type$="-electric"], th[data-type$="-electric"] {
    background-image: linear-gradient(to bottom right, transparent, #F8D030);
}
td[data-type$="-ground"], th[data-type$="-ground"] {
    background-image: linear-gradient(to bottom right, transparent, #E0C068);
}
td[data-type$="-psychic"], th[data-type$="-psychic"] {
    background-image: linear-gradient(to bottom right, transparent, #F85888);
}
td[data-type$="-rock"], th[data-type$="-rock"] {
    background-image: linear-gradient(to bottom right, transparent, #B8A038);
}
td[data-type$="-ice"], th[data-type$="-ice"] {
    background-image: linear-gradient(to bottom right, transparent, #98D8D8);
}
td[data-type$="-bug"], th[data-type$="-bug"] {
    background-image: linear-gradient(to bottom right, transparent, #A8B820);
}
td[data-type$="-dragon"], th[data-type$="-dragon"] {
    background-image: linear-gradient(to bottom right, transparent, #7038F8);
}
td[data-type$="-ghost"], th[data-type$="-ghost"] {
    background-image: linear-gradient(to bottom right, transparent, #705898);
}
td[data-type$="-dark"], th[data-type$="-dark"] {
    background-image: linear-gradient(to bottom right, transparent, #705848);
}
td[data-type$="-steel"], th[data-type$="-steel"] {
    background-image: linear-gradient(to bottom right, transparent, #B8B8D0);
}
td[data-type$="-fairy"], th[data-type$="-fairy"] {
    background-image: linear-gradient(to bottom right, transparent, #EE99AC);
}

td[data-eggs], th[data-eggs] {
    color: #f5f5f5;
    background-color: #0080C0;
}
td[data-eggs^="monster"], th[data-eggs^="monster"] {
    background-color: #D25064;
}
td[data-eggs^="water 1"], th[data-eggs^="water 1"] {
    background-color: #97B5FD;
}
td[data-eggs^="bug"], th[data-eggs^="bug"] {
    background-color: #AAC22A;
}
td[data-eggs^="flying"], th[data-eggs^="flying"] {
    background-color: #B29AFA;
}
td[data-eggs^="field"], th[data-eggs^="field"] {
    background-color: #E0C068;
}
td[data-eggs^="fairy"], th[data-eggs^="fairy"] {
    background-color: #FFC8F0;
}
td[data-eggs^="grass"], th[data-eggs^="grass"] {
    background-color: #82D25A;
}
td[data-eggs^="undiscovered"], th[data-eggs^="undiscovered"] {
    background-color: #333333;
}
td[data-eggs^="human-like"], th[data-eggs^="human-like"] {
    background-color: #D29682;
}
td[data-eggs^="water 3"], th[data-eggs^="water 3"] {
    background-color: #5876BE;
}
td[data-eggs^="mineral"], th[data-eggs^="mineral"] {
    background-color: #7A6252;
}
td[data-eggs^="amorphous"], th[data-eggs^="amorphous"] {
    background-color: #8A8A8A;
}
td[data-eggs^="water 2"], th[data-eggs^="water 2"] {
    background-color: #729AFA;
}
td[data-eggs^="ditto"], th[data-eggs^="ditto"] {
    background-color: #A664BF;
}
td[data-eggs^="dragon"], th[data-eggs^="dragon"] {
    background-color: #7A42FF;
}
td[data-eggs$="-monster"], th[data-eggs$="-monster"] {
    background-image: linear-gradient(to bottom right, transparent, #D25064);
}
td[data-eggs$="-water 1"], th[data-eggs$="-water 1"] {
    background-image: linear-gradient(to bottom right, transparent, #97B5FD);
}
td[data-eggs$="-bug"], th[data-eggs$="-bug"] {
    background-image: linear-gradient(to bottom right, transparent, #AAC22A);
}
td[data-eggs$="-flying"], th[data-eggs$="-flying"] {
    background-image: linear-gradient(to bottom right, transparent, #B29AFA);
}
td[data-eggs$="-field"], th[data-eggs$="-field"] {
    background-image: linear-gradient(to bottom right, transparent, #E0C068);
}
td[data-eggs$="-fairy"], th[data-eggs$="-fairy"] {
    background-image: linear-gradient(to bottom right, transparent, #FFC8F0);
}
td[data-eggs$="-grass"], th[data-eggs$="-grass"] {
    background-image: linear-gradient(to bottom right, transparent, #82D25A);
}
td[data-eggs$="-undiscovered"], th[data-eggs$="-undiscovered"] {
    background-image: linear-gradient(to bottom right, transparent, #333333);
}
td[data-eggs$="-human-like"], th[data-eggs$="-human-like"] {
    background-image: linear-gradient(to bottom right, transparent, #D29682);
}
td[data-eggs$="-water 3"], th[data-eggs$="-water 3"] {
    background-image: linear-gradient(to bottom right, transparent, #5876BE);
}
td[data-eggs$="-mineral"], th[data-eggs$="-mineral"] {
    background-image: linear-gradient(to bottom right, transparent, #7A6252);
}
td[data-eggs$="-amorphous"], th[data-eggs$="-amorphous"] {
    background-image: linear-gradient(to bottom right, transparent, #8A8A8A);
}
td[data-eggs$="-water 2"], th[data-eggs$="-water 2"] {
    background-image: linear-gradient(to bottom right, transparent, #729AFA);
}
td[data-eggs$="-ditto"], th[data-eggs$="-ditto"] {
    background-image: linear-gradient(to bottom right, transparent, #A664BF);
}
td[data-eggs$="-dragon"], th[data-eggs$="-dragon"] {
    background-image: linear-gradient(to bottom right, transparent, #7A42FF);
}

/*  LISTS  */

dd::before {
    color: #a3a3a3;
}

/*  BLOCK ELEMENTS  */

blockquote::before, blockquote::after {
    color: #636363;
}

h1, h2, h3, h4, h5, h6 {
    color: #cccccc;
}

hr {
    color: #828282;
    background: none;
}

/*  PHRASING  */

a[href], b, cite, em, mark, strong, time, u {
    color: #cccccc;
}

a[href] {
    background-color: transparent;
}

a[href]:hover {
    background-color: #0c0c0c;
}

div > span {
    border-color: #cccccc;
    background-color: #0c0c0c;
    color: #cccccc;
}

div[data-mode="0"] > span:hover, div > span[data-selected] {
    background-color: #cccccc;
    color: #0c0c0c;
}

mark {
    background: #0c0c0c;
}
